

/* ------------------- */
/* ESTILO DE LA PÁGINA */
/* ------------------- */


/* CUERPO DE LA PÁGINA */
/* ------------------- */
	html,body{ margin:0px; }

	body{
		width:70%;
		padding-left:15%;
		padding-right:15%;
		background-color: black; 
	}


/* FUENTE DE LETRA */
/* --------------- */
	body,form,h3,span,input,label,select,option{ font-size: 2vw; }
	
	h2{
		font-size: 3vw;
		color: white;
	}


/* FORMULARIO */
/* ---------- */
	form, #instrucciones{
		text-shadow: -2px 2px 5px white;
		padding: 5vw 5vw 15vw 5vw;
		background-image: url("../img/greece-1594689_1920.jpg");
		background-size: cover;
	    background-repeat: no-repeat;		
	}


/* ELEMENTOS DEL FORMULARIO */
/* ------------------------ */
	input, select{
		border: 2px solid gray;
	}

	input[type=text],select{ width: 60%; }

	input[type=radio]{
		width:1%;
		transform: scale(1.3);
	}

	input[type=checkbox]{
		width:5%;
		transform: scale(1.3);
	}

	input:hover, select:hover{
		border: 2px solid dodgerblue;
	}

	input:hover, select:hover{
		border: 2px solid dodgerblue;
		background-color: cyan;
		cursor:pointer; cursor: hand;
	}

	option:hover{
		background-color: dodgerblue;
		cursor:pointer; cursor: hand;
	}

	input[type=radio]:hover+label, input[type=checkbox]:hover+label{
	  color: cyan;
	  text-shadow:-2px 2px 5px darkblue;
	  cursor:pointer; cursor: hand;
	}

	input[type=radio]:checked+label, input[type=checkbox]:checked+label{
	  color: cyan;
	  text-shadow:-2px 2px 5px darkblue;
	}


/* INSTRUCCIONES */
/* ------------- */
	#instrucciones2 {
		background-color: cyan;
		padding: 5%;
	}	

	#instrucciones span{
		color: black;
		font-weight: bold;
	}


/* BOTONES */
/* ------- */
	#boton1,#boton2,#boton3,#boton4,#boton5,#boton6{
		border: double 5px white;
		color: black;
		border-radius: 5px;
		font-style: bold;
		width:auto;
		padding: 1%;
		margin: 10px;
		background-color: lightgrey;
	}

	a{ text-decoration: none; }

	#boton3{
		position: fixed; bottom: 0%; right: 15%;
		text-shadow: none; 
	}

	#boton4,#boton5,#boton6{
		text-shadow: none; 
	}

	#boton1:hover,#boton2:hover,#boton3:hover,#boton4:hover,#boton5:hover,#boton6:hover{
		background-color: dodgerblue;
		color: cyan;
		cursor:pointer; cursor: hand;
	}




/* NOTA FINAL */
/* ---------- */	
	span,#aspa_roja{ color: red; }
	#visto_verde{ color: lightgreen; }

	#nota{
		font-size: 3vw;
		font-style: bold;
		color: red;
		background-color: white;
		border: 5px solid red;
		border-radius: 100%;
		padding: 1%;
		margin: 5%;
	}


